body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  background-color: rgb(102, 107, 111);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
}

/* Upload */
.upload-container {
  width: 100%;
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.upload-container input[type='file'] {
  display: none;
}

.upload-container label span {
  color: white;
  padding: 8px 12px;
  background-color: #444;
  border: 1px dashed #ccc;
  cursor: pointer;
}

.upload-container label span:hover {
  background-color: #b4b4b4;
}

.upload-container p {
  color: white;
}
/*  */

.search-page {
  width: 100%;
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  /* justify-content: center;*/
  align-items: center;
}

.vertical-nav {
  width: 5%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.vertical-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.vertical-nav ul li {
  width: 100%;
  margin-bottom: 20px;
}

.vertical-nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  text-decoration: none;
  background: transparent;
}

.vertical-nav ul li a img {
  width: 70px;
  height: 70px;
  background: transparent;
}

.vertical-nav ul li a img:hover {
  background-color: #444;
}

.canva-container {
  flex-grow: 1;
  display: flex;
  padding: 20px;
  overflow: hidden;
}

.canva {
  gap: 50px;
  padding: 15px;
  background-color: rgb(102, 107, 111);
  overflow-y: auto;
  max-height: 100%;
}

.canva img {
  border-radius: 10px;
}

.canva img:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  padding: 20px;
  width: 80%;
  max-width: 500px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre l'input et le bouton */
}

.search {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #b4b4b4;
}
